body{

font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:#1e293b;
padding:40px;
border-radius:10px;
width:400px;

}

input{

width:100%;
padding:10px;
margin-top:10px;

}

button{

margin-top:10px;
padding:10px;
width:100%;
background:#22c55e;
border:none;
color:white;
cursor:pointer;

}

.stats{

margin-top:20px;

}